In [1]:
import pandas as pd

pit_sub_path = '/AkhmetzyanovD/projects/MTS/NN/contest_1/results/default46/submission.csv'
clip_sub_path = '/AkhmetzyanovD/projects/MTS/NN/contest_1/results/clip_cos/submission.csv'

pit_sub = pd.read_csv(pit_sub_path)
clip_sub = pd.read_csv(clip_sub_path)

In [2]:
pit_sub.head()

                                            filename       label
0  c329da38f8f9936f5d73e0391344eb5b4ebed8f6e9032f...      Mewtwo
1  ac4919b1ff10b17d72c4645458ea3219384ffad641366b...  Kangaskhan
2  eb277c6ebec8c7d075e518c0963f252d167f22eb6d164d...   Bulbasaur
3  8cf03fbfc7b279e445006490be962dc414c19972bf7c94...   Poliwhirl
4  e6bad7f867a11b24754eadd590392cf8fd0c2205569254...     Rattata

In [3]:
clip_sub.head()

                                            filename      label       cos
0  c329da38f8f9936f5d73e0391344eb5b4ebed8f6e9032f...     Mewtwo  0.975683
1  ac4919b1ff10b17d72c4645458ea3219384ffad641366b...    Snorlax  0.874535
2  eb277c6ebec8c7d075e518c0963f252d167f22eb6d164d...  Bulbasaur  0.886067
3  8cf03fbfc7b279e445006490be962dc414c19972bf7c94...  Poliwhirl  0.798457
4  e6bad7f867a11b24754eadd590392cf8fd0c2205569254...    Rattata  0.861316

In [4]:
sum(pit_sub['label'] == clip_sub['label']) / len(pit_sub['label'])

0.7996089931573802

In [5]:
mask = clip_sub['cos'] > 0.98

conf_clip_preds = clip_sub[mask]['label']
conf_pit_preds = pit_sub[mask]['label']
sum(conf_clip_preds == conf_pit_preds) / len(conf_clip_preds)

0.9615384615384616

In [6]:
unconf_clip_preds = clip_sub[~mask]['label']
unconf_pit_preds = pit_sub[~mask]['label']
sum(unconf_clip_preds == unconf_pit_preds) / len(unconf_clip_preds)

0.7975247524752476

In [7]:
pit_sub[mask] = clip_sub[mask]

In [8]:
pit_sub.to_csv('/AkhmetzyanovD/projects/MTS/NN/contest_1/results/model_clip_cos/submission.csv', index=False)